/* SchedulePage.module.css */

.pageContainer {
}

.pageTitle {
    font-size: 20px;
    font-weight: 600;
}

.employeeLabel {
    font-size: 14px;
    width: 20%;
    margin-top: 20px;
}

.employeeInput {
    width: 10%;
    min-width: 200px;
}

.noteInputContainer {
    width: 100%;
    margin-top: 20px;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.submitButton {
    background-color: black;
    color: white;
}

.modalTitle {
    font-size: 16px;
    font-weight: 600;
}

.modalContent {
    margin-top: 10px;
}

.employeeInfoLabel {
    font-weight: 600;
}

.busyCellsList {
    margin-left: 15px;
}
